html, body{
	margin:0;
	padding:0;
}

body{
	background-color:white;
}

#wrap{
	width: 80%;
	margin:0 auto;
	background-color:white;
}

header{
	background-color:white;
	text-align:center;
	overflow:auto;
}

header img{
	width:40%;